// COLORS

// PRIMARY
$bright-blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// NEUTRAL

// LIGHT THEME
$light-gray: hsl(0, 0%, 98%);
$very-light-grayish-blue: hsl(236, 33%, 92%);
$light-grayish-blue: hsl(233, 11%, 84%);
$light-dark-grayish-blue: hsl(236, 9%, 61%);
$light-very-dark-grayish-blue: hsl(235, 19%, 35%);

// DARK THEME
$very-dark-blue: hsl(235, 21%, 11%);
$very-dark-desaturated-blue: hsl(235, 24%, 19%);
$light-grayish-blue: hsl(234, 39%, 85%);
$lgb-hover: hsl(236, 33%, 92%);
$dark-dark-grayish-blue: hsl(234, 11%, 52%);
$dark-very-dark-grayish-blue-a: hsl(233, 14%, 35%);
$dark-very-dark-grayish-blue-b: hsl(237, 14%, 26%);

// FONT
// SIZE
$fs: 1.125rem;

// FAM, WEIGHT
$fm: "Josefin Sans", sans-serif;
$f-reg: 400;
$f-bold: 700;
