@import "../Utilities/variables";

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.125rem 1.5rem;
  font-size: 0.875rem;
  // box-shadow: 0px 0px 10px 5px hsl(235, 21%, 11%);

  &__count {
    color: $dark-dark-grayish-blue;
  }

  &__category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-weight: $f-bold;

    button {
      cursor: pointer;
      background: none;
      border: none;
      outline: none;
      color: $dark-dark-grayish-blue;
      transition: 0.5s color ease;

      &:hover {
        color: $light-gray;
      }
      
    }
    .active {
      color: $bright-blue;
    }
  }

  &__clear {
    cursor: pointer;

    button {
      cursor: pointer;
      transition: 0.5s color ease;
      background: none;
      border: none;
      outline: none;
      color: $light-dark-grayish-blue;

      &:hover{
        color: $light-gray;
      }
    }
  }
}

@media (max-width: 550px) {
  .status__category {
    display: flex;
    font-size: 14px;
    padding: 1rem;
    justify-content: center;
    background-color: $very-dark-desaturated-blue;
    border-radius: 5px;
  }
}
