/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  color: #fafafa;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  font-weight: 700;
}

@media (max-width: 550px) {
  body {
    font-size: 0.875rem;
  }
}

.header__bg__image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.header__bg__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: inherit;
  height: 300px;
}

.header__bg__image__desktop {
  opacity: 1;
}

.header__bg__image__mobile {
  opacity: 0;
}

@media (max-width: 550px) {
  .header__bg__image__desktop {
    display: none;
    opacity: 0;
  }
  .header__bg__image__mobile {
    opacity: 1;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading img {
  cursor: pointer;
  -webkit-transition: 0.5s opacity ease;
  transition: 0.5s opacity ease;
}

.input {
  margin-top: 1rem;
  background-color: #25273c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  border-radius: 5px;
  padding: 1.125rem 1.5rem;
}

.input .circle {
  position: absolute;
  border-radius: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 2px solid #393a4c;
}

.input input {
  padding-left: 3rem;
  background: transparent;
  outline: none;
  border: none;
  color: #cacde8;
}

.lists {
  background-color: #25273c;
  border-radius: 5px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  padding: 1.125rem 1.5rem;
  border-bottom: 1px solid #393a4c;
}

.list__wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__wrapper .circle {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 1.5625rem;
  height: 1.5625rem;
  border: 2px solid #393a4c;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.list__wrapper .circle:hover {
  border: double 1px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25273c), to(#25273c)), -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#25273c, #25273c), linear-gradient(to right, #57ddff, #c058f3);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.list__wrapper .circle img {
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}

.list__wrapper .checked {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.list__wrapper .checked:hover {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.list__wrapper p {
  cursor: pointer;
  color: #cacde8;
  padding-left: 3rem;
}

.list__delete {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.3s opacity ease-in;
  transition: 0.3s opacity ease-in;
}

.list__delete:hover {
  opacity: 1;
}

.list .checkedList {
  color: #4d5066;
  text-decoration: line-through;
}

@media (max-width: 550px) {
  .list__delete {
    opacity: 1;
  }
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.125rem 1.5rem;
  font-size: 0.875rem;
}

.status__count {
  color: #777a92;
}

.status__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1rem;
  font-weight: 700;
}

.status__category button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: #777a92;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
}

.status__category button:hover {
  color: #fafafa;
}

.status__category .active {
  color: #3a7bfd;
}

.status__clear {
  cursor: pointer;
}

.status__clear button {
  cursor: pointer;
  -webkit-transition: 0.5s color ease;
  transition: 0.5s color ease;
  background: none;
  border: none;
  outline: none;
  color: #9394a5;
}

.status__clear button:hover {
  color: #fafafa;
}

@media (max-width: 550px) {
  .status__category {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #25273c;
    border-radius: 5px;
  }
}

section {
  margin: 0 auto;
  padding: 3rem 1.5rem;
  width: 100%;
  max-width: 33.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 675px) {
  section {
    padding: 4.875rem 2rem;
  }
}

.dark {
  background-color: #161722;
}

.light {
  background-color: #e4e5f1;
}

.light .input,
.light .lists {
  background-color: #fafafa;
  color: #484b6a;
}

.light input {
  color: #484b6a;
}

.light p {
  color: #484b6a;
}

.light .circle {
  border-color: #e4e5f1;
}

.light .circle:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fafafa)), -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background-image: linear-gradient(#fafafa, #fafafa), linear-gradient(to right, #57ddff, #c058f3);
}

.light .checked {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.light .checked:hover {
  background: -webkit-gradient(linear, left top, right top, from(#57ddff), to(#c058f3));
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.light .list {
  border-bottom: 1px solid #cacde8;
}

.light .list .checkedList {
  color: #9394a5;
}

.light .status__count {
  color: #9394a5;
}

.light .status__category {
  background-color: #fafafa;
}

.light .status__category button:hover {
  color: #161722;
}

.light .status__clear button {
  color: #9394a5;
}

.light .status__clear button:hover {
  color: #161722;
}

body {
  -webkit-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
}
/*# sourceMappingURL=index.css.map */